/*--------------------------------------------------\
| default       |               | default.css       |
|---------------------------------------------------|
| For use with:                                     |
| FrontAccounting 									|
| http://FrontAccounting.com/  	            		|
| by Joe Hunt Consulting                            |
|---------------------------------------------------|
| Developer:                                        |
| Joe Hunt                                          |
|                                                   |
|---------------------------------------------------|
| Note:                                             |
| Changes can be made to this CSS that will be      |
| reflected throughout FrontAccounting.             |
|                                                   |
\--------------------------------------------------*/

/*body {*/
	/*font-family: Arial,Verdana, Helvetica;*/
	/*background: #dcdcdc;*/

	/*padding: 0;*/
/*}*/
.tablestyle
{

}
.x-grid3-header-extjs {
    background-color: #F9F9F9;
    background-image: url("images/default/grid/grid3-hrow.gif");
    cursor: default;

}

.x-grid3-header-inner-extjs {

    overflow: hidden;
}

.x-grid3-hd-row-extjs td {
    font-size: 11px;
    padding: 4px 3px 4px 5px;
    border: 1px solid;
    border-color: #FFFFFF #EDEDED #EDEDED;
}

.x-grid3-row-extjs {
    border: 1px solid;
    border-color: #FFFFFF #EDEDED #EDEDED;

}

.x-row-bold td {
    font-weight: bold !important;
    background-color: #F9F9F9;
}

.search-item {
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    padding:3px 10px 3px 10px;
    border:1px solid #fff;
    border-bottom:1px solid #eeeeee;
    white-space:normal;
    color:#555;
}
.search-item h3 {
    display:block;
    font:inherit;
    font-weight:bold;
    color:#222;
}

.search-item h3 span {
    float: right;
    font-weight:normal;
    margin:0 0 5px 5px;
    width:100px;
    display:block;
    clear:none;
}